<!-- <app-header></app-header> -->
<ng-container>

<div class="">

 <hr>
 <span>NOME DA PAGINA </span>
 <label> {{nomePag}} </label>

</div>

<div>
   <h1>  <input type="text" (change)="alterarNomePag($event.target.value)"></h1>
 </div>
</ng-container>
<!-- <p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Toggle
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      You can collapse this card by clicking Toggle
    </div>
  </div>
</div> -->






