<ng-container >



<h1>Seja bem vindo</h1>
</ng-container>
<div>
  <input (change)="nomePag = $event.target.value">
  <label>Exibindo resultado: {{nomePag}}</label>

</div>

<!-- <p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Toggle
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      You can collapse this card by clicking Toggle
    </div>
  </div>
</div> -->






